*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

body{
  background: url(../img/bg2.jpg) #333  top center no-repeat;

  background-size: cover;
}

.main{
  width: 640px;
  text-align: center;
  margin: 0 auto;
  height: auto;
}
.logo{
  width: 447px;
}
.num{
  width: 329px;
  margin : 30px 0px;
}

.inputlogo{
  width: 209px;
  margin-bottom: 20px;
}
.code{
  width: 534px;
}

.input-box{
  width: 408px;
  height: 48px;
  background: url(../img/inputbg.png) center no-repeat;
  padding: 0 15px;
  font-family: 'Microsoft Yahei';
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.input-btn{
  width: 107px;
  height: 49px;
  background: url(../img/btn_send.png) center no-repeat;
  margin-top: 20px;
}
.input-btn:hover{
  cursor: pointer;
}
